<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.Photoapp.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>MyriadPro-SemiboldIt.otf</string>
		<string>MyriadPro-Semibold.otf</string>
		<string>MyriadPro-Regular.otf</string>
		<string>MyriadPro-It.otf</string>
		<string>MyriadPro-CondIt.otf</string>
		<string>MyriadPro-Cond.otf</string>
		<string>MyriadPro-BoldIt.otf</string>
		<string>MyriadPro-BoldCondIt.otf</string>
		<string>MyriadPro-BoldCond.otf</string>
		<string>MyriadPro-Bold.otf</string>
		<string>MyriadPro-BlackCond_7.otf</string>
		<string>MyriadPE.otf</string>
		<string>MyriadPC.otf</string>
		<string>MyriadPA.otf</string>
		<string>MyriadP8.otf</string>
		<string>MyriadP6.otf</string>
		<string>MyriadP4.otf</string>
		<string>MyriadP2.otf</string>
		<string>MyriadP0.otf</string>
		<string>Myriad12.otf</string>
		<string>Myriad10.otf</string>
		<string>MyriadStd-Tilt.otf</string>
		<string>MyriadStd-Sketch.otf</string>
		<string>MyriadPro-LightIt_7.otf</string>
		<string>MyriadPro-Light_7.otf</string>
		<string>MyriadPro-BlackIt_7.otf</string>
		<string>MyriadPro-Black_9.otf</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
